<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <clear/>
    <add key="DomainName" value="BCBG"/>
    <add key="DomainSuffix" value="com"/>
    <add key="Domain" value="bcbg.com"/>
    <add key="ContextType" value="Domain"/>
  </appSettings>
</configuration>